.aboutme-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bio-container{
    display: flex;
    padding-top: 10vh;
    height: 70vh;
}

.profilePic-container{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.profilePic{
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
}

.bioText-container{
    display: flex;
    flex-direction: column;
    width: 55vw;
    padding-top: 2%;
}

.bio-header{
    font-size: 8vmin;
    padding-bottom: 4vh;
    color: #DD120F;
}

.bio-subheader{
    min-width: 300px;
    width: 70%;
    font-size: 3vmin;
    color: rgba(0, 0, 0, .7);
}

.profileText-container{
    padding-left: 10%;
    padding-top: 4%;
    width: 40vw;
    font-size: 1rem;
}

.one-line{
    display: flex;
    flex-wrap: wrap;
}

.red{
    color: #DD120F;
    font-weight: bold;
}

.red-underline{
    color: #DD120F;
    font-weight: bold;
    text-decoration: underline;
}

.bottom-arrow{
    display: flex;
    justify-content: center;
    height: 20%;
    font-size: 8vh;
    color: #DD120F;
    animation: fadeinout 3s infinite;
}

@keyframes fadeinout {
    0%,100% { opacity: 1; }
    50% { opacity: .2; }
  }