.aboutme-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.bio-container{
    display: flex;
    padding-top: 15vh;
    height: 70vh;
    justify-content: space-between;
}

.profilePic-container{
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.profilePic{
    width: 40vmin;
    height: 40vmin;
}

.bioText-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-top: 2%;
}

.bio-header{
    font-size: 8vmin;
    padding-bottom: 4vh;
    color: #DD120F;
}

.bio-subheader{
    padding-top: 2%;
    width: 70%;
    font-size: 3vmin;
    color: rgba(0, 0, 0, .7);
}

.profileText-container{
    padding-left: 10%;
    padding-top: 4%;
    width: 40vmin;
    font-size: 1vmax;
}

.one-line{
    display: flex;
    flex-wrap: wrap;
}

.red{
    color: #DD120F;
    font-weight: bold;
}

.red-underline{
    color: #DD120F;
    font-weight: bold;
    text-decoration: underline;
}

.bottom-arrow{
    display: flex;
    justify-content: center;
    height: 20%;
    font-size: 8vh;
    color: #DD120F;
    animation: moveupdown 2s  infinite;
    transition: .3s;
}

.resume-text{
    color: #DD120F;
    padding-top: 10%;
    font-weight: bold;
    font-size: 2.5vmin;
    cursor: pointer;
    text-decoration: none;
}

@keyframes fadeinout {
    0%,100% { opacity: 1; }
    50% { opacity: .2; }
  }

  @keyframes moveupdown {
    0%, 100% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-20px);
      opacity: .2;
    }
  }

  /* MOBILE */
@media(max-width:1200px){
    .bio-container{
        padding-top: 25vh;
    }
  }