.card-container{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-picture{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.card-text-container{
    width: 40%;
    height: 50%;
}

.card-title{
    font-weight: bold;
    color: #AD76F1;
    font-size: 2vmax;
}

.card-desc{
    width: 90%;
    font-size: 1.25vmax;
}

.card-learn-more{
    padding-top: 4%;
    font-weight: bold;
    color: #AD76F1;
    font-size: 1.25vmax;
    display: flex;
    flex-direction: row;
    cursor: default;
}

.Preferify{
    width: 95%;
}

.Calendarify{
    width: 75%;
}

.tic-tac-toe{
    width: 75%;
}

.web-server{
    width: 50%;
}

.interpreter{
    width: 55%;
}

/* MOBILE */
@media(max-width:425px){
    .tic-tac-toe{
        width: 100%;
    }
}