.dropdown-container{
    width: 65%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.dropdown-default{
    display: flex;
    flex-direction: row;  
    height: 45%;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    width: 25%;
    border: .5vmin solid #AD76F1;
    transition: .2s;
}

.dropdown-default:hover, .dropdown-item:hover{
    background-color: rgba(0, 0, 0, .07);
}

.dropdown-title{
    font-weight: bold;
    padding-left: 4%;
    font-size: 1.25vmax;
}

.dropdown-arrow{
    font-weight: bold;
    padding-right: 4%;
    font-size: 1.5vmax;
}

.dropdown-item{
    margin-top: 1%;
    margin-left: 2%;
    width: 20%;
    height: 45%;
    display: flex;
    align-items: center;
    animation: movedown .2s forwards ;
    border: 3px solid #AD76F1;
    z-index:1;
}

.dropdown-item-container{
    padding-left: 4%;
    font-weight: bold;
    font-size: 1.25vmax;
}

.hide-item{
    animation: movein .2s  forwards;
    margin-left: 2%;
    width: 20%;
    height: 25%;
    display: flex;
    align-items: center;
    border: 3px solid #AD76F1;
}

@keyframes movedown {
    0%{
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes movein {
    0%{
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-10px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }


  /* MOBILE */
@media(max-width:1200px){
  .dropdown-default{
    width: 100%;
  }

  .dropdown-item, .hide-item{
    width: 80%;
  }
}