.modalcontent-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.modalcontent-close{
    font-size: 3vmax;
    width: 4%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalcontent-content-header-container{
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalcontent-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.test-image{
    width: 25vmax;
}

.tic-image{
    width: 15%;
}

.modalcontent-content-header-title-container{
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.modalcontent-title{
    font-size: 2vmax;
    font-weight: bold;
}

.modalcontent-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.modalcontent-link{
    font-size: 1vmax;
    font-weight: bold;
    color: #AD76F1;
    padding-right: 5%;
    text-decoration: none;
}

.technologies-container{
    border-bottom: 4px solid #AD76F1;
    font-weight: bold;
    font-size: 1vmax;
    color: #AD76F1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.technology-section{
    display: flex;
    height: 70%;
}

.technology-container{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    transition: .2s;
    color: transparent;
    font-size: 0vmin;
    padding-bottom: 1%;
}

.technology-container:hover{
    width: 15%;
    color: black;
    font-size: 1vmax;
}

.test-tech-image{
    width: 45%;
}

.react-tech-image{
    width: 80%;
}

.web-server-image{
    width: 15%;
}

.modalcontent-body{
    width: 70vw;
    font-size: 2vmax;
}

.tech-link{
    text-decoration: none;
    color: #AD76F1;
}

/* MOBILE */
@media(max-width:425px){
    .modalcontent-content-header-container{
        width: 95vw;
    }

    .modalcontent-content-header-title-container{
        width: 95vw;
    }

    .modalcontent-body{
        width: 95vw;
    }

    .tic-image, .web-server-image{
        width: 50%;
    }

    .test-image{
        width: 75%;
    }
}