.mywork-container{
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.mywork-content{
    display: flex;
    justify-content: center;
    height: 90%;
}

.mywork-dropdown{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mywork-bottom-arrow{
    display: flex;
    justify-content: center;
    height: 20%;
    font-size: 8vh;
    color: #AD76F1;;
    animation: moveupdown 2s  infinite;
    transition: .3s;
}

.modal-background{
    opacity: 0;
    pointer-events: none;
    transition: .2s;
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 8vh;
    left: 0;
    right: 0;
    bottom: 0;
  }

.modalvisible-true{
    width: 100vw;
    height: 100vh;
    display: flex;
    opacity: 1;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
  }

  .modal-bubble{
      background-color: white;
      width: 100%;
      height: 100vh;
  overflow: hidden;
  }